backports.tarfile==1.2.0
easyocr==1.7.2
email-validator==2.2.0
faiss-cpu==1.11.0.post1
fastapi==0.116.1
fastapi-cli==0.0.8
fastapi-cloud-cli==0.1.5
google-generativeai==0.8.5
grpcio-status==1.71.2
httptools==0.6.4
importlib-metadata==8.0.0
jaraco.collections==5.1.0
openai==1.98.0
pdfminer-six==20250506
pdfplumber==0.11.7
pip-chill==1.0.3
platformdirs==4.2.2
pytesseract==0.3.13
python-docx==1.2.0
python-dotenv==1.1.1
python-multipart==0.0.20
sentence-transformers==5.0.0
streamlit==1.47.1
tomli==2.0.1
watchfiles==1.1.0
websockets==15.0.1
